<div class="login">
    <div class="login-form">
        <form name="loginForm" ng-submit="Login.logIn()">
            <md-input-container>
                <label>Login</label>
                <input name="userLogin" ng-model="Login.userLogin" md-maxlength="15" minlength="2" autocomplete="off" required>
                <div ng-messages="loginForm.userLogin.$error" ng-if="loginForm.userLogin.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <md-button class="md-raised" type="submit">Login</md-button>
        </form>
    </div>
</div>
