<div class="messenger-window">
    <div class="messenger-messages-list" autoscroll>
        <ul class="messenger-chat">
            <li class="messenger-chat-message" ng-repeat="message in Messenger.messages" ng-class="{ 'system': message.isSystem }">
                <span class="date" ng-if="!message.isSystem">{{ message.date | chatDate}}</span>
                <span class="username">{{ message.username || 'System' }}:</span>
                <span class="message">{{ message.message }}</span>
            </li>
        </ul>
    </div>
    <div class="messenger-message-input">
        <form name="messageForm" ng-submit="Messenger.sendMessage()">
            <md-button class="md-raised messenger-send-button" type="submit">Send</md-button>
            <md-input-container class="messenger-message-field">
                <label>Message</label>
                <input name="userLogin" ng-model="Messenger.message" autocomplete="off" required autofocus>
                <div ng-messages="messageForm.message.$error" ng-if="messageForm.message.$dirty">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </form>
    </div>
</div>
