@import "variables";

.messenger-window {
  width: 100%;
  height: 100%;
  padding: $messenger-padding;
  box-sizing: border-box;
  .messenger-messages-list {
    padding: 3px;
    box-sizing: border-box;
    position: fixed;
    top: $messenger-padding;
    left: $messenger-padding;
    right: $messenger-padding;
    bottom: $messenger-message-input-height + $messenger-padding;
    overflow: hidden;
    overflow-y: auto;
    .messenger-chat {
      margin: 0;
      padding: 0;
      list-style: none;
      .messenger-chat-message {
        .date {
          color: #7B86C2;
        }
        .username {
          color: #E91E63;
        }
        .message {
          color: #303F9F;
        }
        &.system {
          font-style: italic;
          .username {
            color: #A4AAD2;
          }
          .message {
            color: #A4AAD2;
          }
        }
      }
    }
  }
  .messenger-message-input {
    left: $messenger-padding;
    right: $messenger-padding;
    position: fixed;
    bottom: $messenger-padding;
    height: $messenger-message-input-height;
    .messenger-message-field {
      width: auto;
      float: none;
    }
    .messenger-send-button {
      float: right;
      margin-top: 15px;
    }
    /* fix input for IE9 */
    md-input-container {
      display: block \9;
      width: 100% \9;
      input.md-input {
        width: 100% \9;
      }
    }
    .messenger-message-field {
      margin-right: 110px \9;
    }
    bottom: $messenger-padding-ie9 \9;
    /* end */
  }
}
