.login {
}

.login-form {
  width: 400px;
  margin: 100px auto 0;

  /* fix input for IE9 */
  md-input-container {
    display: block \9;
    width: 100% \9;
    input.md-input {
      width: 100% \9;
    }
  }
  /* end */

}

